body{
margin-top: 10px;
margin: 20px;
font-family: 'Times New Roman', Times, serif;
/* border-radius: 10px;
border:solid; */
background-color: white;
}
form{
 margin-top: 2rem;
 margin-left: 18rem;
 background-color:lightcoral;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.51);
max-width: 600px;
padding: 20px;
}
input{
 margin: .3rem;
 outline: none;
 padding: .3rem;
 width: 18rem;
}
label{
 
display: block;
margin-top: 2px;
color: black;
}
label::placeholder{
 color: aliceblue;
}
fieldset{
box-shadow: 0 0 5px rgba(0, 0, 0, 0.714);
background-color:rgba(75, 18, 65, 0.416);
border-radius: 8px;
padding: 20px;
font-family: system-ui;
font-size: 1rem;

}
input,textarea{
 margin-top: 4px;
 padding: 8px;
 width: calc(100% -1px);
 border: 1px solid;
 border-radius: 4px;
box-sizing: border-box;
}
#firsth1{
 margin-left: 1rem;
 font-size: 2rem;
 font-family: system-ui;
 color:rgb(48, 8, 45);
}
#education,#exprience,#skills{
 width: 30rem;
}

button {
 display: block;
 width: 100%;
 background-color:rgb(143, 186, 188);
 color: black;
 border: none;
 border-radius: 4px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 margin-top: 10px;
 font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 padding: 10px;
 cursor: pointer;
}

button :hover {
 opacity: 0.8;

}
button:active{
 opacity: 0.9;
 background-color: rgba(46, 115, 136, 0.788);
}

#resume-display {
 max-width: 600px;
 margin: auto;
 padding: 20px;
 border: 2px solid rgba(143, 171, 188, 0.686);
 border-radius: 8px;
 background-color: rgba(35, 88, 101, 0.52);
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 /*making the resume editable*/
 outline: none;
}

#resume-display h2 {
 color: black;
}
